<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    box-sizing: inherit;
    position: relative;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2188D9;
    align-items: center;
  }

li {
  float: left;
  
  vertical-align: middle;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

li a:hover {
  background-color: #1773BB;
}

div.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

div.searchbar {
  display: flex;
  height:30px;
  width:300px;
  position:relative;
  padding: 13px 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

img {
  height:15px;
}

input {
  width:100%;
  padding: 10px 5px;
}

select {
  height: inherit;
  width: 200px;
  padding: 10px 5px;
}

mat-button-toggle {
  background-color: #ffff;
  color: black;
  height: inherit;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #2188D9;
}

div.date {
  align-self: center;
}

div.liststyle {
  display: flex;
  margin-right: 0;
}

app-list {
  margin-left: 20px;
  margin-right: 20px;
}

</style>

<main class="main">
  <ul class="navbar">
    <li><a>ZenduForms</a></li>
    <li>
      <div><img [src]="'assets/format_list_bulleted.svg'"/></div>
    </li>
    <li>
      <a>Forms</a>
    </li>
    <li>
      <img [src]="'assets/people.svg'"/>
    </li>
    <li>
      <a>Customers</a>
    </li>
    <li>
      <img [src]="'assets/graphic_eq.svg'"/>
    </li>
    <li>
      <a>Submissions</a>
    </li>
    <li>
      <img [src]="'assets/history.svg'"/>
    </li>
    <li>
      <a>History</a>
    </li>
    <li>
      <img [src]="'assets/insert_chart_outlined.svg'"/>
    </li>
    <li>
      <a>Reports</a>
    </li>
    <li>
      <img [src]="'assets/insert_chart_outlined.svg'"/>
    </li>
    <li>
      <a>Workflow</a>
    </li>
    <li><a><img [src]="'assets/notifications.svg'"/></a></li>
    <li><a><img [src]="'assets/logout.svg'"/></a></li>
  </ul>
  <div><h2>Submissions</h2></div>
  <div class="row">
    <div class="searchbar">
      <img [src]="'assets/icons8-search.svg'"/>
      <input type="text" placeholder="     Search..">
    </div>
    <div>
      <select id="formselect">
        <option value="f1">Select Form</option>
        <option value="f2">Form1</option>
        <option value="f3">Form2</option>
        <option value="f4">Form3</option>
      </select>
    </div>
    <div>
      <select id="statusselect">
        <option value="f1">Select Status</option>
        <option value="f2">Form1</option>
        <option value="f3">Form2</option>
        <option value="f4">Form3</option>
      </select>    
    </div>
    <div>
      <!-- <mat-form-field class="date">
        <input matInput [matDatepicker]="picker" placeholder="">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <input type="date" placeholder="none"/>
    </div>
    <div>
      <mat-button-toggle-group name="datatoggle" class="datatoggle">
        <mat-button-toggle value="map">Map</mat-button-toggle>
        <mat-button-toggle value="list">List</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <img src="assets/icons8-export-30.png"/>
      Export</div>
  </div>
  <div class="liststyle">
    <app-list></app-list>
    <google-map width="900px" height="600px"></google-map>
  </div>
  
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
